
{% extends "layout.html" %}
{% block title %} 
    <div class="container" style='margin-left: 10px;'>
        <img src="{{ details.img.url }}" alt="">
        <h3 style='font-family:Verdana, Geneva, Tahoma, sans-serif'>-{{details.title}}</h3>
        <hr>
        <h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{details.text}}</h6>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{details.date}}</p>
    </div>





{% endblock title %}
