<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Güncelleme Sayfası</h1>
    <form action="{% url "home_ekle" %}" method="POST" novalidate>
        {% comment %} Googlda bulunan validate kontrollerinden çıkmak için novalidate yazmamız gerekli {% endcomment %}
        {% csrf_token %}
        {% for field in form %}
            <h1 {% if field.errors %} invalid{% endif %}></h1>
        {{ field.errors }}
        <label for="" class="form-label" for="field.id_for_label">{{field.label}}</label>
        {{ field }}
        {% endfor %}
        <button type="submit">Kaydet</button>
    </form>
</body>
</html>