@import '../variables/index.scss';

//kodları degisken gibi tanımlıyoruz , kod tekrarını onluyor

//nasıl cagırıız = @extend %algin-center;


%algin-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%navbar-border{

    padding: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;

    :hover{
        color: $black-color;
        // border-bottom: 2.5px solid $black-color;
        border-radius: 15px;
    }
    
}