//renk degiskenleri

$black-color: #000000;

$bg-black: #222;
$bg-gray: gray;
$bg-light: #f7f7f4;

$main-orange: #004c8f;

$text-white: #fffffc;
$text-gray: #454544;
$text-black: #000000;


$darkbg-black:  #23272f;

:root {
    
    // --track-color: #202324;
    // --thumb-color: #454a4d;
    // --thumb-hover-color: #596268;

    // --fb-color: #3b5998;
    // --google-color: #a61c00;
    // --twitter-color: #1da1f2;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}