

.general-button{
    @extend %algin-center;

    background-color: $main-orange;
    display: inline-block;
    width: 200px;
    height: 60px;
    border: $main-orange 1px solid;
    transition: 0.9s;
    border-radius: 25px 0;

    a{
         &:hover{
            color: $text-white;
            text-decoration: none;
        }
    }

    &:hover{
        background-color: $bg-black;
        color: $text-white;
    }
    @include mobil {
        
        width: 150px;
        height: 45px;
    }
}