

.footerItem{
    width: 100%;
    
    &-items{
         text-align: center;
        font-size: 200;

        li:first-child {
            // İlk <li> elemanına uygulanacak stil
            font-weight: 600; 
            margin: 20px 0;
            font-size: 21px;
        }

        li{
            font-size: 19px;
            margin: 10px 0;
        }
    }
}

