.services {
    width: 100%;    
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: center;
 
    @include mobil {
        display: block;
    }

    //img  ve text divlerini ters ceeviriyor
    &:nth-child(odd){
        flex-direction: row-reverse;
    }
 
    &-image {
        width: 50%;
        height: 550px;
        display: flex;        
        justify-content: center;
        padding: 10px;
        &-img {
            width: 100%;
            height: auto;
            background-size: cover;
        }

        @include mobil {
            width: 100%;
            height: auto;
        }
    }

    &-text {
        width: 50%;
        padding: 30px;
        color: $text-gray;

        h1{
            color: $main-orange;
        }

        &-p{
            color: $text-gray;
            text-indent: 20px;
        }
        
        &-icon{
            margin: 10px 0;
        }

        @include mobil {
            width: 100%;
            padding: 25px 0;
        }
        body.dark-mode & {
            // Dark mode için özel stiller

            &-p {
                color: $text-white;
            }

            &-icon{
                color: $text-white;
            }
        }
    }

 
}
