
.brand{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    @include  mobil{
        width: 100%;

    }
}

.brandItem{
    width: 19%;
    margin: 6px;
    height: 100px;
    display: flex;
    font-size: $smalFont;
    align-items: center;
    justify-content: center;
    background-color: gray;

    @include  mobil{
        width: 30% ;        
    }
}



