
.ContactComps{

    width: 100%;
    display: flex;
 
    @include mobil{
        display: block;
    }

    &-form{
        width: 50%;
        margin: 25px;
        
        @include mobil{
            width: 100%;
            margin: 0;
        }

        &-item{
            width: 100%;
            color: $bg-black;
            

            input{
                padding: 15px 20px;
                margin: 10px  30px;
                border-bottom: 1px solid $bg-black;

                body.dark-mode &{
                    border-bottom: 1px solid $text-white;
                    color: $text-white;
                }
         
                ::placeholder{
                    color: $bg-black;
                }

                @include mobil{
                    width: 265px;

                }
            }

            textarea{
                width: 80%;
                border: 1px $bg-black solid;
                margin: 25px  30px;
                padding: 10px;
                
                body.dark-mode &{
                    border: 1px solid $text-white;
                    color: $text-white;
                }
            }
        }
        Button{
            margin: 10px  30px;
            
        }
    }

    &-img{
        width: 50%;

        @include mobil{
            width: 100%;
            height: auto;
            margin: 40px 0;
        }

    }
}