
//homeda
.ContactUs{

    width: 100%;
    height: 100%;
    color: $text-white;
    &-image{
        width: 100%;
        height: 100%;
        position: absolute;

        filter: brightness(0.6);

        &-images{
            width: 100%;
            height: 45rem;
            background-size: cover;
            position: absolute;

          
            @include mobil{
                object-fit: cover;
                width: 100%;
                height: 100vh;
            }
        }
     
 
    }

    &-text{
        position: relative;
        top: 0;
        width: 100%;
        height: 46rem;
        margin: auto;
        padding: 10px;
        overflow: hidden;
        color: $text-white;

        @include mobil {
        height: 58rem;
            
        }
 

    }

    &-icons{
        display: flex;

        @include mobil {
            display: block;
        }
    }
   
}