
.brand{
    width: 90%;
    margin: auto; 
    height: auto;
   

    &-items{
        display: flex;
        flex-wrap: wrap;
    
        @include  mobil{
            width: 100%;
            
        }
        
    }
}

//genral BrandItem 

.brandItem{
    width: 15%;
    margin: 0 30px;
    height: 110px;
    padding: 25px;
    display: flex;    
    align-items: center;
    justify-content: center;

    @include  mobil{
        width: 33% ;
        margin: 0;  
        padding: 15px;      
    }

     
}



