
.navbarGenral{
    display: flex;
    justify-content: center;
  
}

.navbars {
    width: 75%;
    color: $text-white;
    margin-top: 8px;
    background-color: rgba($main-orange, 0.7);
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
    outline: none;
     border: none;
    @include mobil{
        position: fixed;
        width: 90%;
    }

    &-menu{
        color: $main-orange;

        &-btn{
            color: $text-black;
       
        }

        
    }
    &-left {
        @extend %navbar-border;

        &-items {
            padding-left: 10px;

            &:hover {
                color: $bg-black;
                transition: 0.7s;

            }
        }
    }

    &-right {

        &-item {

            @extend %navbar-border;


            &-items {
                padding: 0 20px;
    
               
            }
        }
    }
}





















 