
.navbarGenral{
    display: flex;
    justify-content: center;
  
}

.navbars {
    color: $text-white;
    margin-top: 8px;
    background-color: rgba(255, 85, 0, 0.8);
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
 

    &-menu{
        color: red;
 
        &-btn{
            color: black;

        }

        
    }
    &-left {
        @extend %navbar-border;

        &-items {
            padding-left: 10px;

            &:hover {
                color: $bg-black;
                transition: 0.7s;

            }
        }
    }

    &-right {

        &-item {

            @extend %navbar-border;


            &-items {
                padding: 0 20px;
    
               
            }
        }
    }
}





















 