.ProjectComps {

 
    &-container{
   
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;     
        margin-bottom: 50px ;

    }
  }
  



.ProjectProduct{
    width: 100%;
    height: 330px;
    padding: 23px;

    @include mobil{
        padding: 0;
    }

    &-img{
       width: 390px;
        height: 260px;
        transition: transform 0.7s ease-in-out;

        &:hover{
            transform: scale(1.1); /* Ölçekleme faktörünü dilediğiniz gibi ayarlayabilirsiniz */

        }

        &-imgs{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
    }

    &-text{
        width: 100%;
        font-size: 28px;
        padding: 10px 0;
    }
}