
//adminroutes
.AdminRoutes{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    &-left{
        height: 100vh;

   
    }

    &-right{
        flex: 1;
        padding: 10px 20px;
        height: auto;

        @include mobil{
            width: 100%;
            padding: 0;
        }
     }
}

//adminroutes container 

.admin-container{
    margin-top: 7rem;
}