
.AdminMenu{
    display: flex;
    align-items: center;
    color: $text-white;
    &-container{

        width: 100%;

        &-user{
            height: 95px;
            text-align: center;
            font-size: 14px;
            border-bottom: 2px solid $text-black;

            &-name{
                height: 55%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;

                @include mobil{
                   font-size: 18px;
                   overflow-y: auto;
                   justify-content: start;
                   align-items: start;
                }
            }

            &-btn{
                padding: 8px 17px;
                border: 1px solid $text-gray;
                border-radius: 7px;

            }

            @include mobil{
                font-size: 17px;
                padding: 10px 5px;
            }
        }
        
        &-item{
            width: 100%;
            font-size: 21px;
            padding-left: 20px;
            cursor: pointer;
            font-weight: 500;
            line-height: 50px;
            margin: 10px 0;

            @include mobil{
                font-size: 15px;
                padding-left: 5px;

            }
    

            :Link{
                color: $main-orange;
                padding-left: 10px;
                text-decoration: none;

             

                @include mobil{
                    padding-left: 5px;
                      
    
                }
                
            }
        }
    }
}