
.login{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $text-black;

    &-inputGeneral{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 120px 150px;
        background-color: $main-orange;
        border: 2px solid $bg-black;
        
        @include mobil{
            padding: 25px 70px;
        }
    }
}

 